services:
  postgres:
    container_name: postgres
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_DB=ds_service_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 6666:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  seq:
    container_name: seq
    image: datalust/seq:latest
    restart: always
    environment:
    - ACCEPT_EULA=Y
    - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - "8080:80"
      - "8181:5341"

volumes:
  postgres-data:
